.card-widget.card-info{
  color:rgba(255,255,255,1);
}
.card-widget.card-recent-post{
  color:rgba(255,255,255,1);
}
.card-widget.card-categories{
  color:rgba(255,255,255,1);
}
.card-widget.card-tags{
  color:rgba(255,255,255,1);
}
.card-widget.card-webinfo{
  color:rgba(255,255,255,1);
}
