div.card-widget.card-info{
  font-color:rgba(255,255,255,1);
}
div.card-widget.card-recent-post{
  font-color:rgba(255,255,255,1);
}
div.card-widget.card-categories{
  font-color:rgba(255,255,255,1);
}
div.card-widget.card-tags{
  font-color:rgba(255,255,255,1);
}
div.card-widget.card-webinfo{
  font-color:rgba(255,255,255,1);
}
