div.card-widget.card-info{
  background:rgba(126,129,118,0.7);
}
div.card-widget.card-recent-post{
  background:rgba(126,129,118,0.7);
}
div.card-widget.card-categories{
  background:rgba(126,129,118,0.7);
}
div.card-widget.card-tags{
  background:rgba(126,129,118,0.7);
}
div.card-widget.card-webinfo{
  background:rgba(126,129,118,0.7);
}

