div.card-widget.card-info{
  background:rgba(240,248,255,0.6) !important;
}
div.card-widget.card-recent-post{
  background:rgba(240,248,255,0.6) !important;
}
div.card-widget.card-categories{
  background:rgba(240,248,255,0.6) !important;
}
div.card-widget.card-tags{
  background:rgba(240,248,255,0.6) !important;
}
div.card-widget.card-webinfo{
  background:rgba(240,248,255,0.6) !important;
}

